@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* Utilites */

.pink {
  color: #ff458e;
}

.banner-primary {
  background-color: #fceae8;
}

.panda-btn {
  color: white;
  background-color: #ff458e;
  padding: 8px 19px;
  border-radius: 15px;
  border: 0;
}

.border-radius {
  border-radius: 20px;
}
